# Directories in the project root
/.venv/
/venv/
/.vscode/
/.tox/
/build/
/dist/

# Files in the project root
/.coverage*
!/.coveragerc

# Files anywhere
*.db
*.py[co]
*.swp
*.egg-info
.env

# Directories anywhere
.ruff_cache/
.pytest_cache/
__pycache__/
test-media/
test-static/
