{% load i18n %}

<p>{% trans 'Enter math expression:' %}</p>
<textarea name="{{ widget.name }}"
  {% for name, value in widget.attrs.items %}
    {% if name %} {{ name }}{% if value %}="{{ value }}"{% endif %}{% endif %}
  {% endfor %}
  id="{{ widget.attrs.id }}"
  cols="50"
  rows="5"
  style="margin-top:5px"
>
  {% if widget.value %}{{ widget.value }}{% endif %}
</textarea>
<p>{% trans 'Preview:' %}</p>
<div class="richtext" id="MathPreview-{{ widget.attrs.id }}"></div>
<div id="MathBuffer-{{ widget.attrs.id }}" class="richtext" style="visibility:hidden;"></div>
<script>
  if (!previews) {
    var previews = {};
  }
  previews["{{widget.name}}"] = new Preview(
        "MathPreview-{{ widget.attrs.id }}",
        "MathBuffer-{{ widget.attrs.id }}",
        "{{ widget.attrs.id }}"
  );
</script>
